.expanded-concert {


    &__title {
        padding: 1rem;
    }

    &__location {
        margin: 0;
        padding: 1rem;
    }

    &__date {
        /* margin: 0 0.6rem 0.7rem 0; */
        font-size: 1.2rem;
        cursor: pointer;
        padding: 1rem;
        background-color: #ccc;
        color: #fff;
        //background-color: #efefef;
        transition: color 0.15s ease-in-out;

    }

    &__list {
        /* margin: 0 0.6rem 0.7rem 0; */
        font-size: 1.2rem;
        cursor: pointer;
        padding: 1rem;
        background-color: #ccc;
        color: #fff;
        //background-color: #efefef;
        transition: color 0.15s ease-in-out;

    }

    &__item {
        /* margin: 0 0.6rem 0.7rem 0; */
        font-size: 1.2rem;
        cursor: pointer;
        padding: 1rem;
        background-color: #ccc;
        color: #fff;
        transition: color 0.15s ease-in-out;
        border-bottom: 1px solid #ffffff44;

        a {
            text-decoration: none;
        }
    }

}

.linked-table{
    display: grid;
    grid-template-columns: 1fr 1fr 8rem;
    color: #333;
    font-size: 1.2rem;
    grid-gap: 2rem;
}