.inner-page {

    position: relative;


    &__wrap {
        //outline: 4px dashed green;
        padding: 2rem;
        @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
            padding: 4rem;
        }
    }


    &__content {
        @extend %brand-border-radius;
        //outline: 4px dashed green;
        background-color: #fff;
        padding: 2rem;
        position: relative;
        @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
            padding: 4rem;
        }

        &--animated {
            animation-name: example;
            animation-duration: .5s;
            animation-timing-function: ease-out;
        }
    }

    @keyframes example {
        from {top: 10px;opacity: 0;}
        to {top: 0;opacity: 1;}
    }


    &__artist-name {
        font-size: 2rem;
    }

    &__album-title {

    }


    .split-hori {
        display: flex;
        margin-bottom: 0.8rem;
    }

}

.inner-item {

    &__term {
        color: #aaa;
        font-size: 1rem;
        margin-bottom: .2rem;
        margin-right: 0.8rem;
    }

    &__definition {
        color: #3a3a3a;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        margin-right: 0.6rem;
    }

}


.img {

    &--loading {
        filter: blur(3rem);
    }

    &--loaded {
        filter: blur(0);
    }

    &__wrap {
        overflow: hidden;
    }
}