.internal-links {


    .internal-links {
        flex-grow: 1;
    }

    &__wrap {
        @extend %custom-border-top;
        padding: 0 1.2rem;

    }

    &__list {
        display: flex;

    }

    &__item {
        display: flex;

        &:first-child {

        }

        &:nth-last-child(2) {
            flex-grow: 1;

        }

        &:last-child {
        }

    }

    &__cta {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #aaa;

        h4 {

        }

        svg {
            font-size: 1rem;
            margin-left: 0.4rem;
        }

    }
}