.links {

  &__wrap {
    display: inline-block;
    border-radius: 5rem;
    font-size: 1.2rem;
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    padding: 0 1.4rem;

    main.expanded-item & {
      background-color: transparent;
    }

    .list-view & {
      background-color: transparent;
      padding: 0;
    }

    @media (min-width: map-get($b-points, "tab")) {
      //padding: 0 3rem;
    }

    @media (min-width: map-get($b-points, "des")) {
      //padding: 0 5rem;
    }
  }

  &__link {

    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem;
    transition: color 0.15s ease-in-out;
    color: #fff;

    & > a {
      color: #fff;

      .list-view & {
        color: #777;
      }

      main.expanded-item & {
        color: #777;
      }
    }

    &--active {

    }
    &--inactive {
      opacity: 0.2;
      cursor: auto;
    }

    &--expand, &--back {
      flex-grow: 1;
      text-align: center;
    }

    & > .href {

      &--expand, &--go-back {
        color: inherit;
        text-decoration: inherit;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.4rem;
        cursor: pointer;
        text-shadow: 1px 3px 6px #55555544;

        .list-view & {
          text-align: right;
        }
      }
    }
  }
}

.track:hover {

  .links__link--expand {
    //color: #888;

  }
}
