.modal-box {

    color: #444;
    padding: .8rem;

    &__wrap {
        position: fixed;
        top: 1rem;
        width: 100%;
        z-index: map-get($z-indexes, "modal-box");
        pointer-events: none;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        display: flex;
        position: absolute;
        background-color: #eee;
        align-items: center;
        height: 5rem;
        padding: 0rem 1.4rem;
        border: 1px solid #ddd;
        width: 50rem;
        pointer-events: auto;
        transition: top 0.3s ease-out;
        @extend %brand-border-radius;

        & > .icon-logo {
            font-size: 1em;
            margin-right: .8rem;
        }

        & > .close-btn {
            flex-basis: 5rem;
            margin-left: auto;
        }
    }
}