$player-side-padding: 4rem;
$toggle-play-width: 8rem;

.player {
    //outline: 1px dashed #aaa;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        height: 4rem;
        width: 100%;
        background-color: wheat;
        z-index: map-get($z-indexes, 'player');
        padding: 0 $player-side-padding;
        overflow: hidden;
        
        &.show{

        }

        &.hide{
            display: none;
        }
    }
    &__text {
        @extend %one-liner;
        width: calc(50vw - (#{$player-side-padding} / 2) - 4rem);
        color: #444;
        font-weight: 400;
        font-size: 1.4rem;
    }

    &__toggle-play {
        //background-color: red;
        //width: 8rem;
        //height: 2rem;
        //text-align: center;
        //display: flex;
        //align-items: center;
        //justify-content: center;

        background-color: #ffffff66;
        width: 8rem;
        height: 8rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        /* transform: translateY(1rem); */
        border: 1px solid #ffffff33;
        & > button {
            font-size: 1.1rem;
            color: #000000aa;
        }
    }

    &__expand {
        width: calc(50vw - (#{$player-side-padding} / 2) - (#{$toggle-play-width} / 2));
        text-align: right;
        @extend %one-liner;
    }

}