.links {


    &__wrap {
        display: inline-block;
        border-radius: 5rem;
        //padding: .5rem 1.3rem;
        //margin: 0 0.6rem 1rem 0;
        font-size: 1.2rem;
        //width: 100%;
        width: calc(100% + 2.4rem);
        margin-left: -1.2rem;
        margin-top: auto;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        background-color: #ccc;
        //background-color: #efefef;
        padding: 0 2rem;
        @media (min-width: map-get($b-points, "tab")) {
            padding: 0 3rem;
        }

        @media (min-width: map-get($b-points, "des")) {
            padding: 0 5rem;
        }
    }

    &__link {
        /* margin: 0 0.6rem 0.7rem 0; */
        font-size: 1.2rem;
        cursor: pointer;
        padding: 1rem;
        transition: color 0.15s ease-in-out;
        color: #fff;


        &--active{
            @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
                &:hover {
                    transition: color 0s ease-in-out;

                    color: #777;
                }
            }
        }
        &--inactive{
            opacity: 0.2;
            cursor: auto;
        }

        &--expand, &--back{
            flex-grow: 1;
            text-align: center;
        }

        & > .href {

            &--expand, &--go-back{
                color: inherit;
                text-decoration: inherit;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.4rem;
                cursor: pointer;
                text-shadow: 1px 3px 6px #55555544;
            }
        }
    }
}

.track:hover {


    .links__link--expand{
        color: #888;

    }
}