.main-nav {
    display: flex;
    align-items: center;
    position: absolute;
    height: 6rem;
    width: 100%;
    background-color: #fff;
    z-index: 30;


    @media (min-width: map-get($b-points, "mob")) {
        position: relative;
    }

    &__logo {
        font-size: 2rem;
        filter: drop-shadow(2px 4px 10px black);
        margin-right: 3rem;
    }

    &__list {
        display: flex;
        flex-grow: 1;
        margin-right: auto;
    }

    &__item {
        a {
            color: #888;
            text-decoration: none;
            margin-right: 2rem;
            font-size: 1.4rem;
            font-weight: 700;
        }

        & .active {
            color: black;
        }
    }

    &__hamburger {
        @media (min-width: map-get($b-points, "mob")) {
            display: none;
        }
    }


}