.modal-box {

    color: #444;
    padding: .8rem;

    &__wrap {
        position: fixed;
        top: 0;
        width: 100%;
    }

    &__list {

    }

    &__item {
        background-color: #ccc;
        margin-bottom: .8rem;
        display: flex;
        align-items: center;
        height: 5rem;
        border-radius: 5rem;
        padding: 1.6rem;

        & > .icon-logo {
            font-size: 1em;
            margin-right: .8rem;
        }
        & > .close-btn {
            flex-basis: 5rem;
            margin-left: auto;
        }
    }
}