ul {
    list-style: none;
}

nav.main-nav, section.manage-items {
    @extend %outer-pad;
}



main {
    top: 8rem;
    position: relative;
    overflow: scroll;
    padding: 0 2rem;
    padding-bottom: 20rem;
    @extend %site-wide-padding;
    @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
        top: 14rem;
    }

    &.expanded-item {
        height: calc(100vh - 10rem);
        top: 10rem;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: map-get($greys, "grey_1");
    z-index: map-get($z-indexes, "header");
    transform : translate3d(0, 0, 0);
    box-shadow: 1px 6px 7px #aaaaaa11;

    @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
        height: 10rem;
    }
}

.btn {
    &--full-size {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}


.checkbox {


    &__wrap {
        padding: 2rem 0;

        & > label {
            cursor: pointer;

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
                display: inline-block;
                width: auto;
            }
        }
    }

    &__list {
    }

    &__item {
        display: block;
        cursor: pointer;

        @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
            display: inline-block;
            margin-right: 2.6rem;
        }

        input + span {
            margin-left: 0.8rem;
        }
    }
}

input[type="checkbox"]{

    display: none;

    + span {
        display: inline-block;
        font-size: .6rem;
        border: 1px solid #ddd;
        padding: 0.7rem;
        color: #888;
        border-radius: 8px;


        @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
            font-size: .8rem;
        }

        & > svg {
            transition: all 0.1s ease-out;
        }
    }
    &:checked {
        + span > svg {
            opacity: 1;
        }
    }
    &:not(checked) {
        + span > svg {
            opacity: 0.2;
        }
    }
}