ul {
    list-style: none;
}

nav.main-nav, section.manage-items {
    @extend %outer-pad;
}

main {
    top: 8rem;
    position: relative;
    //max-height: 100vh;

    // todo: change height property to prevent bugs in scrolling
    //height: calc(100vh - 8rem);

    overflow: scroll;
    padding: 0 2rem;

    @media (min-width: map-get($b-points, "mob")) {
        padding: 0 2rem;
        top: 14rem;
    }

    @media (min-width: map-get($b-points, "tab")) {
        padding: 0 6rem;
    }

    @media (min-width: map-get($b-points, "des")) {
        padding: 0 8rem;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: map-get($greys, "grey_1");
    z-index: map-get($z-indexes, "header");
    transform : translate3d(0, 0, 0);

    @media (min-width: map-get($b-points, "mob")) {
        height: 10rem;
    }
}

.btn {
    &--full-size {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}


.checkbox {

    &__wrap {

        & > label {
            display: inline-block;
            cursor: pointer;
        }
    }

    &__list {
    }

    &__item {
        display: block;
        margin-right: 2.6rem;
        cursor: pointer;

        @media (min-width: map-get($b-points, "mob")) {
            display: inline-block;
        }

        input + span {
            margin-left: 0.8rem;
        }
    }
}

input[type="checkbox"]{

    display: none;

    + span {
        display: inline-block;
        font-size: .6rem;
        border: 1px solid #ddd;
        padding: 0.7rem;
        color: #888;
        border-radius: 8px;

        @media (min-width: map-get($b-points, "mob")) {
            font-size: .8rem;
        }

        & > svg {
            transition: all 0.1s ease-out;
        }
    }
    &:checked {
        + span > svg {
            opacity: 1;
        }
    }
    &:not(checked) {
        + span > svg {
            opacity: 0.2;
        }
    }
}