

%outer-pad {

    padding: 0 2rem;

    @media (min-width: map-get($b-points, "tab")) {
        padding: 0 4rem;
    }

    @media (min-width: map-get($b-points, "des")) {
        padding: 0 8rem;
    }
}

.inline-list-item-margin {

    margin-right: 0.4rem;

    @media (min-width: map-get($b-points, "tab")) {
        margin-right: 1.4rem;
    }

    @media (min-width: map-get($b-points, "des")) {
        margin-right: 1.8rem;
    }
}

%viewport-wide {
    width: 100vw;
}

%full-size-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

%brand-border-radius {
    border-radius: 6px;
    @media (min-width: map-get($b-points, "tab")) {
        border-radius: 10px;
    }

    @media (min-width: map-get($b-points, "des")) {
        border-radius: 16px;
    }
}

%site-wide-padding {
    @media(hover: hover) and (pointer: fine) and (min-width: map-get($b-points, "mob")) {
        padding-right: map-get($main-padding, "mob");
        padding-left: map-get($main-padding, "mob");
    }

    @media (min-width: map-get($b-points, "tab")) {
        padding-right: map-get($main-padding, "tab");
        padding-left: map-get($main-padding, "tab");
    }

    @media (min-width: map-get($b-points, "des")) {
        padding-right: map-get($main-padding, "des");
        padding-left: map-get($main-padding, "des");
    }
}